/*Container styling*/
#container {
    width : 1050px;
    /*To center the element on the page. we can use the margin with auto for left and the right side.*/
    margin: 0px auto;
}
/*Note: An container consisting of floating elements only behaves as though there are no elments with in. Hence it collapses and the height needs to be set explicitly. */
/*Header styling*/
#header{
    height: 100px;
    padding: 10px 0px;
}
#logo{
    float: left;
}

#logo h1 a {
    font-size: 50px;
    font-weight: 200;
    /*Property used to remove the default underlining for the a tag.    */
    text-decoration: none;
    color: #861BBF;
}

#searchbox {
    float: right;
    background: linear-gradient(#E4f2B9,#B7E953);
    width: 400px;
    height: 50px;
    padding:15px 15px 10px 15px;
    margin-top: 20px
}

.text{
    float: left;
    width: 200px;
    font-size: 15px;
    padding: 5px;
    color: #E37C6E;
    /*The right and center property specify the position in which the background image needs to be placed.
        first value is the position horizontally and the second value is the position vertically
    */
    background: white url(../images/search.png) right center no-repeat;
}

.submit{
    float: right;
    /*Backgrund color cannot be used for the button*/
    background: #A751D6;
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.clear{
    clear: both;
}
/*Menu styling*/
#menu{
    background: linear-gradient(#F2EF82,#D8D83D);
    height: 70px;
    padding: 10px 0;
}

ul{
    list-style: none;
}

#menu ul li{
    float:left;
    padding:0 15px;
    height: 30px;
    border-right:1px solid #5d12e7;
    line-height: 30px
}
/*Since the last child of the menu does not have the border we need to set it to none.*/
#menu ul li:last-child{
    border-right: none;   
}
/*There is a transition for the elements which needed to be observed.*/
#menu ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #5d12e7;
    /*Transition is a browser specific property hence there should be entry for each browser supported.The 
    third parameter in the transition property is the style of transition.*/
    transition: font-size 0.3s ease;
    
}

#menu ul li a:hover,#menu ul li a.active{
    font-size:22px;
    font-weight: bold;
    color: #B314DB;
}

/*Introduction box styling*/
#introduction{
    background: linear-gradient(#DFF1AD,#BCEA5C);
    padding:20px;
    margin: 16px 0px;
}

#introduction h3{
    font-size:45px;
    color: #316901;
    font-weight: normal;
    
}
#introduction p{
    color: #628F35;
    font-size:25px;
    text-align: justify;
}
